Source: deepin-desktop-base
Section: misc
Priority: optional
Maintainer: gfdgd xi<3025613752@qq.com>, shenmo <shenmo@spark-app.store>, Deepin Sysdev <sysdev@deepin.com>
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 12)

Package: deepin-desktop-base
Architecture: any
Provides: deepin-appstore-config, gxde-install-source
Replaces: gxde-install-source
Conflicts: deepin-desktop-server, gxde-install-source
Recommends: gxde-source,tela-grub2-themes
Depends: 
 ${misc:Depends}, 
 deepin-keyring, 
 distro-info-data, 
 eject, 
 fonts-noto, 
 fonts-symbola, 
 base-files (>= 12.4+deb12u8),
 systemd (>= 257.2-2) | systemd (<< 254.22-1~bpo12+1) | gxde-bpo-source,
Description: The basic file of GXDE Desktop, 
 provides system attribute description for DDE components
