Source: gxde-desktop-base-live
Section: misc
Priority: optional
Maintainer: gfdgd xi<3025613752@qq.com>, shenmo <shenmo@spark-app.store>
Standards-Version: 4.5.1
Build-Depends: 
 debhelper-compat (= 12),
 make,
 rename,
 dpkg

Package: gxde-desktop-base-live
Architecture: any
Provides: 
 deepin-appstore-config,
 gxde-install-source,
 deepin-desktop-base,
 gxde-desktop-base,
Replaces:
 gxde-install-source,
 deepin-desktop-base,
 gxde-desktop-base,
Conflicts:
 gxde-desktop-server,
 gxde-install-source,
 deepin-desktop-base (>> 2025.06.12),
 gxde-desktop-base,
Recommends:
 gxde-source,
 tela-grub2-themes
Depends: 
 ${misc:Depends}, 
 deepin-keyring, 
 distro-info-data, 
 eject, 
 fonts-noto, 
 fonts-symbola, 
 base-files (>= 12.4+deb12u10),
 systemd,
Description: The basic file of GXDE Desktop, 
 provides system attribute description for DDE components
